<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Aeropuertos</title>
    <!-- Asegúrate de incluir el enlace al CSS de Bootstrap en tu <head> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="bg-light">

    <div class="container mt-5">
        <h1 class="text-center mb-4">Listado de Aeropuertos</h1>

        <!-- Tabla con estilos de Bootstrap -->
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Código Aeropuerto</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">País</th>
                </tr>
            </thead>
            <tbody>
                {% for aeropuerto in aeropuertos %}
                <tr>
                    <td>{{ aeropuerto.codigo_aeropuerto }}</td>
                    <td>{{ aeropuerto.nombre }}</td>
                    <td>{{ aeropuerto.ciudad }}</td>
                    <td>{{ aeropuerto.pais }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Flash messages con estilo de alerta de Bootstrap -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-success" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <!-- Navegación con estilos de píldoras de Bootstrap -->
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-lg justify-content-center">
                <!-- Botón Inicio con estilo de píldora activa -->
                <li class="page-item active"><a class="page-link" href="{{ url_for('home') }}">Inicio</a></li>
                <!-- Agrega más botones según sea necesario -->
            </ul>
        </nav>

    </div>

</body>
</html>
