<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Aeropuerto</title>
    <!-- Aquí puedes incluir tus estilos CSS -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Agregar Aeropuerto</h1>

    <!-- Formulario para agregar aeropuerto -->
    <form action="{{ url_for('agregar_aeropuerto') }}" method="POST">
        <div>
            <label for="codigo_aeropuerto">Código Aeropuerto:</label>
            <input type="text" id="codigo_aeropuerto" name="codigo_aeropuerto" required>
        </div>
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>
        <div>
            <label for="ciudad">Ciudad:</label>
            <input type="text" id="ciudad" name="ciudad" required>
        </div>
        <div>
            <label for="pais">País:</label>
            <input type="text" id="pais" name="pais" required>
        </div>
        <div>
            <button type="submit">Agregar Aeropuerto</button>
        </div>
    </form>

    <!-- Enlaces a otras páginas -->
    <ul class="nav-links">
        <li><a href="{{ url_for('home') }}">Inicio</a></li>
        <li><a href="{{ url_for('listar_aeropuertos') }}">Ver Aeropuertos</a></li>
        <!-- Agrega más enlaces según sea necesario -->
    </ul>
</body>
</html>
