<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Aeropuertos</title>
    <!-- Asegúrate de incluir el enlace al CSS de Bootstrap en tu <head> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="bg-light">

    <div class="container mt-5">
        <h1 class="text-center mb-4">Listado de Aeropuertos</h1>

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Código Aeropuerto</th>
                    <th>Nombre</th>
                    <th>Ciudad</th>
                    <th>País</th>
                </tr>
            </thead>
            <tbody>
                {% for aeropuerto in aeropuertos %}
                <tr>
                    <td>{{ aeropuerto.codigo_aeropuerto }}</td>
                    <td>{{ aeropuerto.nombre }}</td>
                    <td>{{ aeropuerto.ciudad }}</td>
                    <td>{{ aeropuerto.pais }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-success" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <!-- Botón de inicio con el mismo estilo que el botón de agregar aeropuerto -->
        <a href="{{ url_for('home') }}" class="btn btn-primary mt-3">Inicio</a>

    </div>

</body>
</html>
