<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Asiento</title>
    <!-- Incluir Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="bg-light">

    <div class="container mt-5">
        <div class="card">
            <h5 class="card-header bg-primary text-white text-center">Agregar Asiento</h5>
            <div class="card-body">
                <form method="post" action="{{ url_for('agregar_asiento') }}">
                    <div class="form-group">
                        <label for="numero_vuelo">Número de Vuelo</label>
                        <select class="form-control" id="numero_vuelo" name="numero_vuelo" required>
                            {% for vuelo in vuelos %}
                            <option value="{{ vuelo.numero_vuelo }}">{{ vuelo.numero_vuelo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="numero_asiento">Número de Asiento</label>
                        <input type="text" class="form-control" id="numero_asiento" name="numero_asiento" required>
                    </div>
                    <div class="form-group">
                        <label for="clase">Clase</label>
                        <input type="text" class="form-control" id="clase" name="clase" required>
                    </div>
                    <div class="form-group">
                        <label for="disponible">Disponible</label>
                        <select class="form-control" id="disponible" name="disponible" required>
                            <option value="True">Sí</option>
                            <option value="False">No</option>
                        </select>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mr-2">Agregar Asiento</button>
                        <a href="{{ url_for('listar_asientos') }}" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
        
        <!-- Botón para ir a inicio -->
        <a href="{{ url_for('home') }}" class="btn btn-secondary btn-block mt-3">Inicio</a>
    </div>

    <!-- Incluir Bootstrap JS y dependencias de Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
